* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style-type: none;
  font-family: 'Playfair Display', serif;
  text-decoration: none;
}

.icon {
  font-size: 27px;
  color: #272a31;
}

.none {
  display: none;
}

.main-section {
  background-image: url(./images/background-img.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  padding: 40px 24px;
}

.main-header,
.sub-header {
  color: #ec5242;
  font-weight: 400;
  text-align: left;
  margin-top: 30px;
}

.sub-header {
  font-weight: 900;
  text-transform: uppercase;
  max-width: 600px;
}

.paragraph {
  color: #272a31;
  border: 1px solid #fff;
  padding: 15px;
  margin: 20px 0;
  max-width: 500px;
}

.time {
  text-transform: uppercase;
  font-size: 22px;
  font-weight: 800;
  color: #272a31;
  margin-bottom: 20px;
}

.venue {
  color: #272a31;
  font-size: 15px;
}

.program-section {
  padding: 40px 24px;
  background-color: #272a31;
}

.program-header {
  color: #fff;
  text-transform: capitalize;
  text-align: center;
  font-size: 25px;
  margin-bottom: 28px;
}

.flex {
  display: flex;
}

.program-ul {
  margin-top: 20px;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.program-list {
  margin-bottom: 10px;
  height: 7em;
  max-width: 500px;
  background: rgb(59, 62, 69);
}

.program-flex {
  justify-content: space-between;
  padding: 15px;
  height: 100%;
  align-items: center;
}

.program-info {
  color: #ec5242;
  font-weight: 700;
  font-size: 15px;
}

.program-icon {
  color: #fff;
  font-size: 30px;
}

.program-talk {
  width: 65%;
  font-size: 14px;
  color: #fff;
  justify-self: center;
  justify-content: center;
}

.program-anchor {
  background: #ec5242;
  color: #fff;
  font-size: 14px;
  padding: 22px 43px;
  margin: 10px auto;
  display: flex;
  width: 250px;
}

.featured-section {
  color: #fff;
  padding: 50px 24px;
}

.featured-header {
  color: #272a31;
  text-transform: capitalize;
  text-align: center;
  margin-bottom: 60px;
}

.featured-ul {
  flex-direction: column;
}

.featured-img {
  width: 120px;
  height: 120px;
}

.featured-list {
  justify-content: center;
  margin-bottom: 30px;
}

.featured-container {
  width: 52%;
  margin-left: 20px;
}

.featured-h3 {
  font-size: 15px;
  color: #272a31;
}

.featured-h4 {
  color: #ec5242;
  font-size: 12px;
  margin-bottom: 10px;
}

.featured-paragraph {
  color: #272a31;
  font-weight: 500;
  font-size: 12px;
}

.partner-section {
  background: #3b3e45;
  padding: 10px 24px 50px;
}

.partner-header {
  color: #fff;
  text-transform: capitalize;
  text-align: center;
  font-size: 20px;
  margin-bottom: 40px;
}

.partner-ul {
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
  padding: 0 3em;
}

.partner-list,
.partner-li {
  color: rgb(240, 240, 240);
  margin-bottom: 20px;
  padding: 8px 20px;
}

.partner-li {
  color: #aaa;
  font-weight: 900;
  font-size: 25px;
}

.partner-img {
  width: 100px;
  color: #aaa;
}

.white {
  color: #fff;
}

.footer {
  color: #fff;
  padding: 24px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.first-footer,
.second-footer {
  width: 40%;
  color: #272a31;
}

.second-footer {
  flex-direction: column;
}

.second-footer-list {
  margin-bottom: 10px;
  font-size: 13px;
}

.about-paragraph {
  background: rgb(250, 250, 250);
  color: #272a31;
  border: 1px solid #aaa;
  padding: 4em;
  margin-bottom: 30px;
}

.text-center {
  text-align: center;
}

.w-100 {
  max-width: 100%;
}

.mail {
  font-size: 16px;
  font-weight: 800;
  color: #272a31;
  margin-bottom: 20px;
}

.about-header {
  color: #272a31;
  text-align: center;
  text-transform: capitalize;
  font-size: 20px;
  margin-bottom: 30px;
  margin-top: 10px;
}

.about-section-paragraph {
  color: #272a31;
  font-size: 15px;
  margin-bottom: 30px;
}

.about-article {
  border-bottom: 1px solid #aaa;
  padding: 24px;
}

.footer-icon {
  font-size: 45px;
}

.about-section {
  color: #fff;
  padding: 24px 0;
}

.location {
  border-top: 1px solid #aaa;
  border-bottom: 1px solid #aaa;
  font-size: 12px;
  width: 195px;
  margin: 10px auto 0;
}

.global-logo {
  margin: 0 auto;
  width: 195px;
  font-size: 19px;
  font-weight: 900;
}

.second-article {
  padding: 24px;
}

.img-container {
  width: 80%;
  margin: 0 auto;
  height: 200px;
  margin-bottom: 10px;
  background: url(./images/conference1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  padding: 24px;
  filter: drop-shadow(2px 4px 6px black);
}

.img-container-p {
  color: #ec5242;
  font-weight: 900;
  font-size: 30px;
  text-align: center;
}

.img-container-paragraph {
  color: #ec5242;
  font-size: 18px;
  text-align: center;
  margin-top: 20px;
}
